:root {
    --Orange: hsl(26, 100%, 55%);
    --Pale-orange: hsl(25, 100%, 94%);
    /*  */
    --Very-dark-blue: hsl(220, 13%, 13%);
    --Dark-grayish-blue: hsl(219, 9%, 45%);
    --Grayish-blue: hsl(220, 14%, 75%);
    --Light-grayish-blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --f-f: 'kumbh';
    --f-r: 400;
    --f-b: 700;


}

@font-face {
    font-family: 'Kumbh';
    src: url(/Fonts/KumbhSans-VariableFont_YOPQ\,wght.ttf);
}

/* .slider {
  width: 500px;
  overflow: hidden; 
} 
.slide-track { 
  display: flex; 
} 
.slide { 
  flex: 0 0 auto; 
  width: 500px; 
} */
#img-container {
    width: 100%;
    display: flex;
    justify-content: center;

}

.img-1 {
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
}

.img1 {
    width: 400px;
    height: 400px;

}

main {
    padding: 2rem;
}

.h6-1 {
    color: var(--Orange);
    font-family: var(--f-f);
}

.title {
    font-weight: 700;
    margin: 1rem 0;
    margin-right: 2rem;
}

p {
    font-size: .875rem;
    font-family: var(--f-f);
}

.pay {
    display: flex;
}

.takhfif {

    margin: 4px 1rem;
    color: var(--Orange);
    background-color: var(--Pale-orange);
    border-radius: 3px;
    height: 20px;

}

.last {
    margin-left: auto;
    color: var(--Dark-grayish-blue);
}

.inp {
    border: none;
}

.input {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
}

.number {
    font-size: 2rem;
}

.incdic {
    font-size: 2rem;
    color: var(--Orange);
    font-weight: 700;
    /* display: flex;
    align-items: center; */
    border: none;
    background-color: white;
    height: 100%;
}
.incdic:hover{
       opacity: .7;
   }

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 100%;
    background-color: var(--Orange);
    color: white;
}

.card {
    margin: 0 .5rem;
    background-color: var(--Orange);
    border: none;
    color: white;
}

@media (min-width:600px) {
    #img-container-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 5rem;
        max-width: 1200px;

    }

    body {
        min-height: 100vh;


    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .pay {
        display: flex;
        flex-direction: column;
    }

    .last {
        margin-left: 0px;
        font-size: 1.5rem;
    }

    .takhfif {
        width: 30px;
    }

    .pay-cont {
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        align-items: center;
        height: 50px;
    }

    .input {
        width: 38%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        
    }
    #number{
        margin: 0px;
        text-align: center;
        width: auto;
        
    }

    .btn {
        width: 58%;
    }
   .incdic:hover{
       opacity: .7;
   }
}